* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
    padding: 10px;
    background-color: #cccccc;
    border-width: 0px;
    outline-width: 0px;
}

